<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div>
    <% @posts.each do |post| %>
      <ul>
        <li><%= post.text %></li>
      </ul>
    <% end %>
  </div>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
