<section class='section'>
  <div class='container column is-three-quarters'> 
    <h1 class='title'>Posts</h1>

    <div class='columns'>
      <% @posts.each do |post| %>
        <div class='column is-one-quarter box'>
          <% if user_signed_in? %>
            <p>Posted by: <br><%= post.user.name %></p>
          <% end %>
          <p>Message: <%= post.text %></p >
        </div>
      <% end %>
    </div>
    <br>
    <%= link_to 'New Post', new_post_path, class:"button is-primary" %>
  </div>
</section>


