<h1>Posts</h1>

<div>
  <% @posts.each do |post| %>
    <ul>
      <% if user_signed_in? %>
          <li class="control">
            <%= post.user.name %>
          </li>
        <% end %>
      <li><%= post.text %></li>
    </ul>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
